html
    head
        title Admin
        link(rel="stylesheet" href="/css/main.css")
        link(rel="stylesheet" href="/css/markdown.css")
    body
        topbar
            img(src="/image/TheDocsLogoNew_White.svg" style="height: calc(3em - 20px);position: absolute;top: 10px;left: 50.11px;cursor: pointer;")
            span
                span(style="vertical-align: middle;")= 'Welcome, ' + user + '!'
                    span(class="fname")
                a(href="/logout" style="text-decoration: none;") Logout
        aside
            tabs
                tab.wrapper(style="top: 5px;")
                tab
                    h3 Status
                tab
                    h3 General
                tab
                    h3 MySQL
                span(style="position: absolute; width: 100%; text-align: center; bottom: 10px; left: 0;") Copyright &copy; 2018 Dylan Bulmer
        content(id="Status")
            h1 The Docs
            p= 'Running on port ' + data.port
            blockquote
                p!= '<b>MySQL:</b> ' + ((data.mysql.connection) ? 'Connected' : 'Disconnected')
                p= 'Number of users: ' + data.mysql.users
        content(id="General")
            h1.title General Configuration
            hr
            form(method="" action="")
                h3 Settings
                label Port
                input(placeholder = "Default: 1337" name="port" value=data.port)
                br
                label Hosting Address (IPv4)
                input(placeholder = "Default: 127.0.0.1" name="url" value=data.url)
                br
                label Hosting Domain
                input(placeholder = "Default: localhost" name="host" value=data.host)
                br
                label Registation Code
                input(placeholder = "Default: 1234" name="code" value=data.code)
                br
                br
                h3 Organization Settings
                label Name
                input(placeholder = "Default: None" name="org[name]" value=data.organization.name autocomplete='organization')
                br
                label Loading Screen Message
                textarea(name="org[statement]" placeholder = "Default: Welcome to The Docs!")= data.organization.statement
                br
                input(type="hidden" name="type" value="general")
                button Save
        content(id="MySQL")
            h1.title MySQL Configuration
            hr
            form
                label Host:
                input(placeholder = "Please enter a host address!" name="host" value=data.mysql.settings.host)
                br
                label Schema:
                input(placeholder = "Please enter a schema!" name="database" value=data.mysql.settings.database)
                br
                label Username:
                input(placeholder = "Please enter a username!" name="username" value=data.mysql.settings.user autocomplete='username')
                br
                label Password:
                br
                input(type="password" name="password" placeholder = "Password" autocomplete='new-password')
                br
                input(type="password" name="confirm_password" placeholder = "Confirm Password" autocomplete='new-password')
                br
                input(type="hidden" name="type" value="mysql")
                button Save and Connect
        script(src="/js/pageViewer.js")